/** GLOBAL STYLES **/ 

:root {
    --primary-color: #DB524D;

    --space-sxs: 4px;
    --space-xs: 8px;
    --space-sm: 12px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 40px;
    --space-xxl: 55px;
    --space-2xl: 74px;
    --space-3xl: 90px
}

html {
    background-color: #f7e5e5;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B612', sans-serif;
    font-display: swap;
}

body {
    font-weight: 400;
    background-color: var(--primary-color);
}

/* FIRST PAGE STYLE */

.container {
    max-width: 100vw; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: ContentLoad 2s;
    background-color: #DB524D;
}

.header {
    position: absolute;
    display: flex;
    height: var(--space-md);
    top: var(--space-xl);
    left: 80vw;
}

.header i {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.grid-container {
    display: grid;
    grid-template-rows: 5rem 7rem 7rem 5rem;
    width: 18rem;
    align-items: center;
    justify-content: center;
}

.grid-container > img {
    height: var(--space-2xl);
    margin-bottom: var(--space-md);
    animation: spin 2s linear;
}

.settings-container {
    background-color: #fff;
    position: absolute;
    visibility: hidden;
    border-radius: var(--space-xs);
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
    width: 240px;
    height: 320px;
    transition: visibility .3s, opacity .3s linear;
    opacity: 0;
}

#close {
    background-color: var(--primary-color);
    position: absolute;
    bottom: 1em;
    left: 5em;
    border-radius: var(--space-sxs);
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options > button {
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: rgba(0,0,0,0.18);
    border-radius: var(--space-sxs);
    padding: var(--space-xs);
    margin-left: var(--space-sm);
}

.options > button:first-child {
    margin-left: 0 !important;
}

.options > button:focus {
    outline: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0.3);
}

.minutes, .seconds, .dot {
    font-size: var(--space-2xl);
}

.bottom-buttons > button, .btnClose {
    height: var(--space-xl);
    width: var(--space-2xl);
    font-size: var(--space-md);
    cursor: pointer;
    color: white;
    border: none;
    background-color: rgba(0,0,0,0.08);
    border-radius: var(--space-sxs);
    padding: var(--space-xs);
}

.bottom-buttons > button:focus {
    outline: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0.2);
}

/* SECOND PAGE LAYOUT */

.container-2 {
    max-width: 100vw;
    height: 100vh;
    background-color: #f7e5e5;
    width: 100%;
    text-align: left;
}

.description {
    width: 80%;
    background-color: #f7e5e5;
}

.description h1 {
    border-bottom: 2px solid var(--primary-color);
}

.spotlight {
    color: var(--primary-color);
}

.title {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
}

.text {
    margin-top: 2rem;
    text-align: left;
}

.list {
    margin: 1rem 0rem 0rem 1rem;
    text-align: left;
}

.list li {
    padding-top: 5px;
}

.links, .credits {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.links a {
    color: #000;
    font-size: 1.5rem;
}

.tutorial-list {
    padding-left: var(--space-lg);
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #f7e5e5;
    border-top: 1px solid rgb(175, 175, 175);
    margin-top: 2rem;
    padding-top: 1rem;
    font-size: 15px;
}


/** Phone Styles **/

@media screen and (min-width: 320px) {
    .options > button {
        height: var(--space-xl);
        width: var(--space-3xl);
        padding: var(--space-sxs);
        font-size: var(--space-sm);
        text-align: center;
    }

    .settings-container {
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0));
    }

    .container-2 {
        height: 150vh;
    }
}

@media screen and (min-width: 750px) {

    .options > button {
        height: var(--space-xxl);
        font-size: var(--space-md);
        width: 102px;
        margin-left: var(--space-md);
    }

    .settings-container {
        filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.8));
        }

    .container-2 {
        text-align: center;
        height: 100vh;
    }
}


/*  ANIMATIONS  */


@keyframes ContentLoad {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes spin {
     100% {
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg);
    } 
}